* {
    font-family: Karla, sans-serif;
}

blockquote {
    padding: 10px;
}

#cardWrapper {
    margin-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

.nav {
    margin: 25px;
}

.nav-link:hover {
    cursor: pointer;
}

#profileCard {
    padding-left: 0;
    padding-right: 0;
}

